$primary: #284B63;
$secondary: #3C6E71;
$success: #16A34A;
$danger: #DC2626;
$warning: #F59E0B;
$info: #0EA5E9;
$light: #F8FAFC;
$dark: #0F172A;
$gray: #D9D9D9;
$gray2: #969696;
$black: #353535;
$white: #FFFFFF;
$font-family-base: 'Montserrat', sans-serif;

@import "~bootstrap/scss/bootstrap";